
@import "./components/header";

@import "./components/main";

@import "./components/aside";

@import "./components/footer";

@import "./paginas/calendario";

@import "./paginas/descuentos";

@import "./paginas/historia";

@import "./paginas/servicios";



/* ESTILOS GLOBALES */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

a { 
    text-decoration: none;
}

ul{
    list-style: none;
}

.fondo {
    background-color: rgba(245, 227, 220, 0.521);

}

@media only screen and (min-width:500px)
{
    .fondo {
        background-color: rgba(233, 161, 132, 0.786);
    
    }
}

@media only screen and (min-width:750px) {
    .fondo {
        background-color: rgba(243, 197, 241, 0.536);
    
    }
}