

/* ESTILOS GLOBALES */

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.fondo {
    background-color: rgba(245, 227, 220, 0.521);

}

@media only screen and (min-width:500px){
    .fondo {
        background-color: rgba(245, 223, 220, 0.948);
        }
}

@media only screen and (min-width:750px) {
    .fondo {
        background-color: rgba(243, 164, 234, 0.507);
        }
}