@import "../base/variables";

@import "../base/maps";

@import "../base/extends";

@import "../base/mixinds.scss";



/* Empieza Servicios */
.service {
    background-color: rgba(242, 174, 175, 0.622);
    padding: 1rem;
    font-size:1.5rem;
    @extend %subtitulouno;
}

.pagina {
    @extend %paginamas;
}
.paginaserv{
    padding-left: 6rem;
}
.serv {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2 , 10rem);
    padding-left: 1.5rem;
}

.titulodeservicio{
    @extend %nombreservicio;
    font-size: 1rem;
}

.imagenservicio{
    @include foto (6rem,6rem);
}
/* Termmina Servicios */
/* Empieza trabajos */
.ejemplos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 1rem;
}
.imgtrabajos{
    @include foto (6rem,6rem);
}
/* Termina trabajos */


@media only screen and (min-width:500px)
{

/* Empieza Servicios */

.service {
    background-color: rgba(242, 174, 175, 0.622);
    padding: 1rem;
    font-size: 2rem;
    align-self: center;
}

.paginaserv {
    padding-left: 13rem;
}
.serv {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 3rem);
}
.cejas {
    grid-column: 2/3;
    grid-row:1/2 ;
}

.pestañas {
    grid-column: 2/3;
    grid-row:4/5 ;
}

.manicura {
    grid-column: 3/4;
    grid-row:1/2 ;
}

.depilacion {
    grid-column: 3/4;
    grid-row:4/5 ;
}


.imagenservicio{
    @include foto (6rem,6rem);
}

/* Termmina Servicios */

/* Empieza trabajos */
    .ejemplos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-right: 1rem;
    }
    .imgtrabajos{
        @include foto (10rem,11rem);
    }
    /* Termina trabajos */
}

@media only screen and (min-width:750px) {

/* Empieza Servicios */
.pagina {
    font-size: 1rem;
}
.paginaserv{
    padding-left: 18rem;
}
.service {
    background-color: rgba(243, 133, 135, 0.622);
    padding: 1rem;
    font-size:2rem;
    }

.serv {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6 , 4rem);
}

.titulodeservicio{
    font-size: 1.5rem;
}
.cejas {
    grid-column: 2/3;
    grid-row:1/2 ;
}

.pestañas {
    grid-column: 2/3;
    grid-row:4/5 ;
}

.manicura {
    grid-column: 4/5;
    grid-row:1/2 ;
}

.depilacion {
    grid-column: 4/5;
    grid-row:4/5 ;
}

.imagenservicio{
    @include foto (8rem,8rem);
}
/* Termmina Servicios */
       /* Empieza trabajos */
.ejemplos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-right: 1.5rem;
    }
    .imgtrabajos{
        @include foto (9rem,9rem);
    }
    /* Termina trabajos */
}