@import "../base/variables";

@import "../base/maps";

@import "../base/extends";

@import "../base/mixinds.scss";


/* Empieza novedades */
.nov{
    padding: 1rem;
    background-color: rgba(242, 174, 175, 0.622);
}
.novedades{
    padding-left: 1rem;
    list-style:circle;
}

/* Termina novedades */

/* Empieza contacto */
.fondocontacto{
    padding: 1rem;
    background-color: rgba(242, 174, 175, 0.622);
}
.redessociales{
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
}
.logo {
    @include foto (3rem,3rem)
}
.comenta{
    font-size:larger;
    text-transform: uppercase;
    font-weight: 800;
    text-align: right;
    margin: 1rem;
}
/* Termina contacto */

