@import "../base/variables";

@import "../base/maps";

@import "../base/extends";

@import "../base/mixinds.scss";


/*Empieza barra de menu */
.barra {
        background-color: rgba(236, 182, 174, 0.414);
        display:flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        @include foto (null,5.5rem);
    }

.logo-menu{
    @include foto (4rem,4rem);
    margin-left:1rem;
    border-radius: 4rem;
    }

.titulo{
    @extend %tituloindiana;
    color: rgb(113, 8, 211);
    font-size: 1.4rem;
    }

/*Termina barra de menu */

@media only screen and (min-width:500px)
{
.barra {
        background-color: rgba(203, 117, 104, 0.664);
        @include foto (null,6rem);
        display: flex;
        justify-content: space-around;
    }

.logo-menu{
    @include foto (5.5rem,5.5rem);
    }

.titulo{
        color: rgba(131, 3, 135, 0.779);
        font-size: 1.4rem;
    }
}

@media only screen and (min-width:750px) {
.barra {
        background-color: rgba(236, 182, 174, 0.907);
        @include foto (null,5rem);
        display: flex;
        justify-content: space-around;
    }

.logo-menu{
    @include foto (5rem,5rem);
    }

.titulo{
        color: rgba(64, 2, 63, 0.766);
        font-size: 2rem;
    }
}