%tituloindiana {
    text-transform: uppercase;
    font-style: italic;
    font-weight: bolder;
    margin-left: 1.5rem;
}

%subtitulouno{
    color: rgba(128, 0, 128, 0.649);
    font-style : oblique;
    font-weight : bolder;
    text-align : left;
    text-transform : uppercase;
}



%paginamas{
    text-transform: capitalize;
    color: rgba(100, 7, 0, 0.577);
    border: 2px under rgb(191, 130, 238);
    padding: 0;
}

%nombreservicio {
    color: rgba(220, 20, 20, 0.921);
    text-decoration-line:underline;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 1rem;
}

%paggetittle {
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: rgba(165, 42, 42, 0.393);
}

%palabratext
{
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
}