$titulos : (
    tamanio: 1.4rem,
    colortitulo:rgb(113, 8, 211),
    estiloletra:uppercase,
    tipoletra:italic,
    ancholetra:bolder
);

$subtitulo : (


);


$pagina : (

);

$palabraNegro : (

);


